.review-container{
    margin: 50px auto;
}

.btn-proceed-cart {
    width: 70%;
    height: 56px;
    font-size: 21px;
    margin: 10px 0; 
    border-radius: 4px;
    background: #0e76ad;

    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}